@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaina+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,p, div, span, section,  .text-subtitle2, .text-caption, .text-body1, .text-body2, .text-subtitle1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
#app, #App{
  scroll-behavior: smooth!important;
}
html{
  scroll-behavior: smooth;
}
.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}
.py-0 {
  padding-top: 0px;

  padding-bottom: 0px;
}
.mb-0{
  margin-bottom: 0px;
}
.w-100{
  width: 100%;
}
.w-70{
  width: 70%;
}
.w-50{
  width: 50%;
}
.w-40{
  width: 40%;    
}
.h-100{
  height: 100%;
}
.text-secondary {
  color: red!important;
}
.bg-secondary {
  background-color: red!important;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.vertical-enter-active,
.vertical-leave-active {
  transition: all 1s ease;
  width: 100%;
  position: absolute;
}

.vertical-enter-from {
  opacity: 0;
}
.vertical-enter-to{
  opacity: 1;
}
.vertical-leave-from {
  opacity: 1;

}
.vertical-leave-to {
  opacity: 0;
}
#sistemPage{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
}

.sistem-page{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0px;
  box-shadow: #00000061 0px 7px 5px 0px;
}
.host-page {
  border: 0px;
  box-shadow: #00000061 0px 7px 5px 0px;
}
.n-layout{
  background: transparent
}
.mt-1{
  margin-top:1%;
}
.mt-2 {
  margin-top:2%;
}
.mt-3 {
  margin-top:3%;
}
.text-center {
  text-align:center
}
.text-bold{
  font-weight: bold;
}
.hidden-xs{
  display: block;
}
.show-xs{
  display: hidden;
}
@media screen and (max-width: 780px){
  .hidden-xs{
    display: none;
  }
  .show-xs{
    display: flex;
  }
  .sistem-page{
    width: 100%;
    margin: auto;
    height: 100%;
    border-radius: 0px;
    border: 0px;

    & .n-card__content{
      border: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}